{% extends 'inventory_data/base.html' %}

{% block user %}
{% if user.is_authenticated %}  
	<a href="{% url 'logout' %}" <button type="button" class="btn btn-danger">Logout</button></a>
{% else %}
	<a href="{% url 'login' %}" <button type="button" class="btn btn-success">Login</button></a>
{% endif %}
{% endblock user %}

{% block content %}
{% if user.is_authenticated %}  
		<h1>Selamat datang</h1>
		<p>Lihat Stock:</p>
		<ul><a href="{% url 'inventory-store-a' %}">Toko A</a></ul>
		<ul><a href="{% url 'inventory-store-b' %}">Toko B</a></ul>
{% else %}
		<p>Sorry, intern access only.</p>
{% endif %}

{% endblock content %}