{% extends 'inventory_data/base.html' %}



{% block search %}
{% if user.is_authenticated %}  

<span>
  <form action="{% url 'search_results' %}" method="get" class="search-form">
    <div class="form-group">
        <input name="q" type="text" class="form-control" placeholder="Search">
    </div>
  </form>
</span><br />
{% endif %}
{% endblock search %}

{% block user %}

{% if user.is_authenticated %}  
  <a href="{% url 'add-items-store-a' %}" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Receive & Input New Product</span></a>
  <a href="{% url 'items-history' %}" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>See all products history</span></a><br />
  <a href="{% url 'logout' %}" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Logout</span></a>
{% else %}
  <a href="{% url 'login' %}" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Login</span></a>
{% endif %}

{% endblock user %}


{% block content %}

    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">EAN</th>
        <th scope="col">Brand</th>
        <th scope="col">Product</th>
        <th scope="col">Stock Qty</th>
        <th scope="col">Date Added</th>
        <th scope="col">Last Edited</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% if user.is_authenticated %}  
    {% for stock in inventory %}
      <tr>
        <td>{{forloop.counter}}</td>        
        <td>{{stock.ean}}</td>
        <td>{{stock.brand}}</td>
        <td>{{stock.item_name}}</td>
        <td>{{stock.quantity}}</td>
        <td>{{stock.date_added}}</td>
        <td>{{stock.last_updated}}</td>        
        <td>
          <a href="{{ stock.get_product_url }}"><i title="View Detail"></i>View Detail</a>        
          {% if user.is_superuser %}
          <a href="{{ stock.get_edit_url }}"><i title="Edit"></i>Edit</a>
          <a href="{{ stock.get_delete_url }}"><i title="Delete"></i>Delete</a>
          {% endif %}      
      </td>
      </tr>
    {% endfor %}
    {% else %}
      <p>Silakan login untuk melihat data.</p>
    {% endif %}
    </tbody>

{% endblock content %}