{% extends 'inventory_data/base.html' %}



{% block search %}
{% if user.is_authenticated %}  

<span>
  <form action="{% url 'search_results' %}" method="get" class="search-form">
    <div class="form-group">
        <input name="q" type="text" class="form-control" placeholder="Search Toko A product">
    </div>
  </form>
</span><br />
{% endif %}
{% endblock search %}

{% block user %}

{% if user.is_authenticated %}
  <a href="{% url 'add-items-store-a' %}" <button type="button" class="btn btn-success">Register New Product</button></a>
  <a href="{% url 'items-history' %}" <button type="button" class="btn btn-success">All Stock History</button></a>
  <a href="{% url 'logout' %}" <button type="button" class="btn btn-danger">Logout</button></a>
{% else %}
  <a href="{% url 'login' %}" <button type="button" class="btn btn-success">Login</button></a>
{% endif %}

{% endblock user %}


{% block content %}
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">EAN</th>
        <th scope="col">Brand</th>
        <th scope="col">Product</th>
        <th scope="col">Stock Qty</th>
        <th scope="col">Reorder Qty</th>
        <th scope="col">Date Added</th>
        <th scope="col">Last Edited</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% if user.is_authenticated %}  
    {% for stock in inventory %}
      <tr>

        <td>{{forloop.counter}}</td>        
        <td>{{stock.ean}}</td>
        <td>{{stock.brand}}</td>
        <td>{{stock.item_name}}</td>
        <td>
          {% if stock.quantity <= stock.reorder_level %}
          {{stock.quantity}} (Perlu reorder)
          {% else %}
          {{stock.quantity}}
          {% endif %}
        </td>        
        <td>{{stock.reorder_level}}</td>
        <td>{{stock.date_added}}</td>
        <td>{{stock.last_updated}}</td>        
        <td>
          <a href="{{ stock.get_product_url }}"><i title="View Detail"></i>Detail</a>        
          {% if user.is_superuser %}
          <a href="{{ stock.get_edit_url }}"><i title="Edit"></i>Edit</a>
          <a href="{{ stock.get_delete_url }}"><i title="Delete"></i>Delete</a>
          {% endif %}      
      </td>
      </tr>
    {% endfor %}
    {% else %}
      <p>Silakan login untuk melihat data.</p>
    {% endif %}
    </tbody>

{% endblock content %}